.single-project {
  padding: 100px 30px 0 30px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media only screen and (min-width: 768px) {
    .single-project {
      padding: 100px 100px 0 100px; } }
  .single-project .project-card {
    max-width: 835px;
    width: 100%;
    -webkit-box-shadow: 8px 9px 0px 3px #ededed;
    -moz-box-shadow: 8px 9px 0px 3px #ededed;
    box-shadow: 8px 9px 0px 3px #ededed;
    border-radius: 5px;
    margin-bottom: 50px; }
  .single-project .gradient-bar {
    height: 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: #ff9966;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .single-project .project-card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px black solid;
    border-top: none;
    padding: 30px 10px; }
    @media only screen and (min-width: 768px) {
      .single-project .project-card-top {
        padding: 30px 50px; } }
  .single-project .project-card-bottom {
    border: 1px black solid;
    border-top: none;
    height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }
  .single-project .description-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px 0 40px 0; }
    @media only screen and (min-width: 768px) {
      .single-project .description-card {
        flex-direction: row;
        max-width: 750px; } }
    .single-project .description-card .description-left {
      width: 100%;
      text-align: left; }
      .single-project .description-card .description-left a {
        color: black;
        text-decoration: none;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2px;
        border: 1px black solid;
        border-radius: 40px;
        height: 25px;
        padding: 10px 20px;
        background: #2f7fff;
        background: linear-gradient(162deg, #2f7fff 0%, #4af7cf 100%);
        background-size: 200% 100%;
        background-position: right 0;
        background-repeat: no-repeat;
        transition: 0.5s ease-in-out; }
        .single-project .description-card .description-left a:hover {
          color: white;
          background-position: 0 0; }
      .single-project .description-card .description-left p {
        margin-top: 30px; }
  .single-project .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-top: 50px; }
    @media only screen and (min-width: 768px) {
      .single-project .tags {
        justify-content: flex-start;
        padding-left: 30px; } }
  .single-project .tag {
    display: flex;
    align-items: center;
    border: 1px black solid;
    border-radius: 40px;
    height: 25px;
    padding: 5px 15px;
    margin: 0 10px 20px 10px; }
