.image-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 835px;
  width: 100%;
  padding-bottom: 50px; }
  @media only screen and (max-width: 768px) {
    .image-grid {
      justify-content: center; } }
  .image-grid .image-grid-card {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px black solid;
    -webkit-box-shadow: 8px 9px 0px 3px #ededed;
    -moz-box-shadow: 8px 9px 0px 3px #ededed;
    box-shadow: 8px 9px 0px 3px #ededed; }
    @media only screen and (max-width: 768px) {
      .image-grid .image-grid-card {
        margin: 0 30px 30px 30px; } }
