@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

h1 {
  font-size: 40px;
  line-height: 50px;
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 13px;
  }
}

.link {
  text-decoration: none;
  color: black;
}
