nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  padding: 0px 50px;
  height: 80px;
  position: relative; }
  nav .home-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50px;
    bottom: -40px;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    color: white;
    background: #ff9169;
    background: linear-gradient(117deg, #ff9169 0%, #ff61a4 100%);
    background-size: 200% 100%;
    background-position: right 0;
    background-repeat: no-repeat;
    transition: background 0.5s ease-in-out; }
    nav .home-link:hover {
      background-position: 0 0; }
      nav .home-link:hover .compass {
        animation: compass 2s infinite; }

@keyframes compass {
  0%, 100% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(90deg); } }
    nav .home-link img {
      position: absolute;
      width: 75px;
      height: 75px; }
  nav a {
    position: relative;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
    height: 100%;
    text-align: center;
    line-height: 80px; }
    @media only screen and (max-width: 768px) {
      nav a {
        font-size: 11px; } }
    nav a:nth-of-type(3) {
      margin-left: 30px; }
  nav .active:before {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: #2f7fff;
    background: linear-gradient(162deg, #2f7fff 0%, #4af7cf 100%);
    z-index: -1; }
