.work-gallery {
  padding: 100px 50px;

  h2 {
    text-align: center;
    margin: 0 50px;
  }

  .card-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .link {
    margin: 50px 50px;
  }

  .card {
    max-width: 300px;
    margin-top: 0;

    &-image {
      padding: 80px 0;
      border-bottom: 1px black solid;
    }

    &-top {
      padding: 30px 28px;
    }
  }

  .card-bottom {
    padding: 30px 0 20px 0;
  }
}
