.work-gallery {
  padding: 100px 100px;

  h2 {
    text-align: left;
    margin: 0 50px;
  }

  .card-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    max-width: 300px;
    margin-top: 0;
    margin: 50px 50px;
  }

  .card-bottom {
    padding: 20px 0;
  }
}
